# Path: .env.example

REACT_APP_APIKEY=tu_api_key
REACT_APP_AUTHDOMAIN=tu_auth_domain
REACT_APP_PROJECTID=tu_project_id
REACT_APP_STORAGEBUCKET=tu_storage_bucket
REACT_APP_MESSAGINGSENDERID=tu_messaging_sender_id
REACT_APP_APPID=tu_app_id

